input {
    color: #800020;
}

.band-input{
    padding-top: 25px;
    padding-bottom: 35px;
}

p {
    padding-top: 10px;
}

::placeholder {
    color: #800020;
  }

  input[value]
{
    font-family: 'Baskerville';
}